<section>
  <img src="https://images.macrumors.com/t/u5qFUnuK3qopG8nIsOOX74kgtk8=/1600x0/article-new/2019/02/MR-Future-Products-2020-2.png">
</section>


<section>
  <div class="container reveal">
    <h2>Product</h2>
    <div class="text-container">
      <img src="https://images.macrumors.com/t/u5qFUnuK3qopG8nIsOOX74kgtk8=/1600x0/article-new/2019/02/MR-Future-Products-2020-2.png">
    </div>
  </div>
</section>
<section>
  <div class="container reveal">
    <h2>Product</h2>
    <div class="text-container">
      <div class="text-box">
  <h3>Section Text</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
    eius molestiae perferendis eos provident vitae iste.
  </p>
</div>
<div class="text-box">
  <h3>Section Text</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
    eius molestiae perferendis eos provident vitae iste.
  </p>
</div>
<div class="text-box">
  <h3>Section Text</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
    eius molestiae perferendis eos provident vitae iste.
  </p>
</div>
    </div>
  </div>
</section>


<section>
  <div class="container reveal">
    <h2>Caption</h2>
    <div class="text-container">
      <div class="text-box">
        <h3>Section Text</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          eius molestiae perferendis eos provident vitae iste.
        </p>
      </div>
      <div class="text-box">
        <h3>Section Text</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          eius molestiae perferendis eos provident vitae iste.
        </p>
      </div>
      <div class="text-box">
        <h3>Section Text</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          eius molestiae perferendis eos provident vitae iste.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container reveal">
    <h2>Caption</h2>
    <div class="text-container">
      <div class="text-box">
        <h3>Section Text</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          eius molestiae perferendis eos provident vitae iste.
        </p>
      </div>
      <div class="text-box">
        <h3>Section Text</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          eius molestiae perferendis eos provident vitae iste.
        </p>
      </div>
      <div class="text-box">
        <h3>Section Text</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          eius molestiae perferendis eos provident vitae iste.
        </p>
      </div>
    </div>
  </div>
</section>
